@import "tailwindcss";


* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background: #e9e9e9;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
}

:root {
  --corDoFundo: #e9e9e9;
}

header {
  background: var(--corDoFundo)
}