.header {
  color: #f8f9fa;
  padding: 20px 7rem;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  box-sizing: border-box;
}

.title {
  font-size: 2rem;
  margin: 0;
  color: #011c40;
}

.nav {
  margin-top: 10px;
}

.navList {
  list-style: none;
  display: flex;
  justify-content: center;
}

.navItem {
  margin: 0 15px;
}

.navLink {
  color: #011c40;
  text-decoration: none;
  transition: all 0.3s;
  padding: 10px 0;
  display: block;
  border-bottom: 3px solid transparent;
}

.navLink:hover {
  color: #011c40;
  border-bottom-color: #011c40;
}

.navLink.active {
  color: #011c40;
  border-bottom-color: #011c40;
  font-weight: 600;
}
